body {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    background-color: #050505;
    overflow: hidden;
}
#topInfoContainer {
    position: absolute;
    pointer-events: none;
    display: none;
    z-index: 10;
}
#webGLContainer {
    position: absolute;
    z-index: 8;
}
#guiContainer {
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 12;
}
#statsContainer {
    position: absolute;
    top: 0px;
    left: 300px;
    z-index: 12;
}

#topInfoPanel {
    display: block;
    background: #1a1a1a;
    width: 200px;
    height: 40px;
}

.tab {
    overflow: hidden;
    border: none;
    background-color: #1a1a1a;
}
.tab button {
    background-color: #2d2d2d;
    float: left;
    border: 1px solid #000000;
    outline: none;
    cursor: pointer;
    padding: 8px 15px;
    transition: 0.3s;
    font-size: 14px;
    color: #8a8a8a;
}
.tab button:not(:last-child) {
    border-right: none;
}
.tab button:hover {
    background-color: #1a1a1a;
    color: white;
    border: none;
}
.tab button.active {
    background-color: #1a1a1a;
    color: white;
    border: none;
}
.tabcontent {
    background-color: #1a1a1a;
}