<!-- leftInfoPanel -->

<div id="leftInfoPanel_proto" class="tab">
    <button id="FocusButton" class="tablinks" onclick="openTab(event, 'Focus')">Focus</button>
    <button id="DesertButton" class="tablinks" onclick="openTab(event, 'Desert')">Desert</button>
    
    <div id="Focus" class="tabcontent" style="clear: both;">
        <div id="template" class="objectInfo">
            <button class="objectName" onclick="removeObject(this.parentNode.id)">Segmentxx</button>
            <div class="objectInfo1"></div>
            <div class="objectInfo2"></div>
        </div>
    </div>
    <div id="Desert" class="tabcontent" style="clear: both;">
    </div>
</div>
