<!DOCTYPE html>
<html ng-app="angularApp">

<!-- Main -->
  <head>
    <title> 3DGenome-Prototype </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css"> 
    <link rel="stylesheet" href="stylesheets/jspanel.min.css">
    <link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.min.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
  </head>

  <body>
    <div id="mainContainer">
      <div id="topInfoContainer">
          <canvas id="topInfoPanel" width="200" height="40">
              Canvas not supported.
          </canvas>
      </div>
      <div id="webGLContainer"></div>
      <div id="guiContainer"></div>
      <div id="statsContainer" width="80" height="48"></div>
    </div>
    <!-- leftInfoPanel -->
    <%- include("leftInfoPanel") %>
    <%- include("searchPanel") %>

    <script src="javascripts/lib/three.min.js"></script>   <!-- three.js -->
    <script src="javascripts/lib/jquery-3.3.1.min.js"></script>
    <script src="javascripts/lib/stats.min.js"></script>   <!-- stats of FPS/ms/.. -->
    <script src="javascripts/lib/dat.gui.min.js"></script> <!-- simple GUI -->
    <script src="javascripts/lib/jspanel.min.js"></script>
    <script src="javascripts/lib/angular.min.js"></script>
    <script src="bower_components/json-formatter/dist/json-formatter.min.js"></script>

    <script src="javascripts/angular/module.js"></script>
    <script src="javascripts/angular/gene-list.component.js"></script>
    
    <script src="javascripts/main.js" async defer></script>
    <script src="javascripts/data.js" async defer></script>
    <script src="javascripts/MousePick.js" async defer></script>
    <script src="javascripts/gui.js" async defer></script>
    <script src="javascripts/text.js" async defer></script>
    <script src="javascripts/controls.js" async defer></script>
    <script src="javascripts/advanced.js" async defer></script>
    <script src="javascripts/utils.js" async defer></script>
  </body>

</html>
