/* General */
body {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    background-color: #050505;
    overflow: hidden;
}
#topInfoContainer {
    position: absolute;
    pointer-events: none;
    display: none;
    z-index: 10;
}
#webGLContainer {
    position: absolute;
    z-index: 8;
}
#guiContainer {
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 12;
}
#statsContainer {
    position: absolute;
    top: 0px;
    left: 300px;
    z-index: 12;
}
/* Top Info Panel */
#topInfoPanel {
    display: block;
    background: #1a1a1a;
    width: 200px;
    height: 40px;
}
/* Left Info Panel:: Tabs */
.tab {
    overflow: hidden;
    border: none;
    background-color: #1a1a1a;
}
.tablinks {
    background-color: #2d2d2d;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 15px;
    transition: 0.3s;
    font-size: 14px;
    color: #8a8a8a;
}
.tablinks:not(:last-child) {
    border-right: none;
}
.tablinks:hover {
    background-color: #1a1a1a;
    color: white;
    border: none;
}
.tablinks.active {
    background-color: #1a1a1a;
    color: white;
    border: none;
}
.tabcontent {
    background-color: #1a1a1a;
}
.refresh {
    opacity: 0;
}
.clearDiv {
    clear: both;
    /* For the sole purpose of clear "float: left" effect */
}
/* Left Info Panel:: Objects */
.objectInfo{
    background-color: #1a1a1a;
}
.objectInfo:hover {
    color: #8a8a8a;
}
.objectInfoHover {
    color: #8a8a8a;
}
.objectName {
    background-color: #2d2d2d;
    border: 1px solid #000000;
    cursor: e-resize;
    outline: none;
    font-size: 1.0em;
    color: inherit;
}
.objectName:hover {
    background-color: #1a1a1a;
    color: white;
}
.objectInfo1 {
    font: 14px Arial;
    line-height: 16px;
}
.objectInfo2 {
    font: 14px Arial;
    line-height: 16px;
}
/* Search Panel:: Button (for objects) */
.searchFocus, .searchPopulate {
    display: inline-block;
    background-color: #2d2d2d;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 10px;
    transition: 0.2s;
    font: 14px Arial;
    color: #aaaaaa;
}
.searchFocus:hover, .searchPopulate:hover {
    background-color: #1a1a1a;
    color: white;
    border: none;
    cursor: pointer;
}
.searchFocus:hover {
    cursor: w-resize;
}
/* Search Panel:: Button (for search area) */
.searchSubmit {
    display: inline-block;
    background-color: #2d2d2d;
    border: 1px solid #666666;
    outline: none;
    cursor: pointer;
    padding: 4px;
    transition: 0.3s;
    font: 14px Arial;
    color: white;
}
.searchSubmit:hover {
    background-color: #1a1a1a;
}
/* Search Panel:: Input (for search area) */
.searchInput {
    display: inline-block;
    border: 1px solid #666666;
    padding: 4px;
}
/* Search Panel:: Select (for search area) */
.searchSelect, .searchSelectFake {
    display: inline-block;
    border: 1px solid #666666;
    font: 12px Arial;
}
.searchSelectFake {
    opacity: 0;
}
/* Search Panel:: Intro (one line) */
.intro {
    margin: 0%;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
}
