<!-- gene-list -->

<div id="searchBar">
    <select ng-init="cat1 = cats[0]" ng-model="cat1" ng-options="x for x in cats"></select>
    <input ng-model="queryKey1" /> 
    <br>
    <select ng-init="logic1 = logics[0]" ng-model="logic1" ng-options="x for x in logics"></select>
    <select ng-init="cat2 = cats[0]" ng-model="cat2" ng-options="x for x in cats"></select>
    <input ng-model="queryKey2" />
    <button ng-click="submit()">Search</button>
    <toggle-switch
        ng-model="fuzzy"
        knob-label="fuzzy">
    <toggle-switch>
</div>

<div id="searchList">
    <div ng-if="$ctrl.genes.length == 0" class="intro">
        No item found.
    </div>
    <div class="listWrapper">
    <ul>
        <li ng-repeat="gene in $ctrl.genes track by $index">
            <div class="intro">{{gene.name}}</div> 
            <button class="searchFocus">Focus</button> 
            <button class="searchPopulate" ng-if="gene.children.length>0" ng-click="populate(gene)">Populate</button>
            <json-formatter json=gene open="1" class="json-formatter-dark"></json-formatter>
        </li>
    </ul>
    </div>
</div>
