<!-- gene-list -->

<div id="searchBar">
    <select ng-init="cat1 = cats[0]" ng-model="cat1" ng-options="x for x in cats"></select>
    <input ng-model="queryKey1" /> <br>
    <select ng-init="logic1 = logics[0]" ng-model="logic1" ng-options="x for x in logics"></select>
    <select ng-init="cat2 = cats[0]" ng-model="cat2" ng-options="x for x in cats"></select>
    <input ng-model="queryKey2" /> <br>
    <select ng-init="logic2 = logics[0]" ng-model="logic2" ng-options="x for x in logics"></select>
    <select ng-init="cat3 = cats[0]" ng-model="cat3" ng-options="x for x in cats"></select>
    <input ng-model="queryKey3" />
    <button ng-click="submit()">Search</button>
</div>

<div id="searchList">
    <div ng-if="$ctrl.genes.length == 0">
        No item found.
    </div>
    <div class="listWrapper">
    <ul>
        <li ng-repeat="gene in $ctrl.genes track by $index">
            <div class="intro">{{gene.name}}</div> <button class="searchFocus">Focus</button>
            <json-formatter json=gene open="1" class="json-formatter-dark"></json-formatter>
        </li>
    </ul>
    </div>
</div>
