<!-- gene-list -->

<div id="searchBar">
    <br>
    <select disabled ng-init="logic0 = logics[0]" ng-model="logic0" ng-options="x for x in logics" class="searchSelectFake"></select>
    <select ng-init="cat1 = cats[0]" ng-model="cat1" ng-options="x for x in cats" class="searchSelect"></select>
    <input type="text" ng-model="queryKey1" class="searchInput"/> 
    <br>
    <select ng-init="logic1 = logics[0]" ng-model="logic1" ng-options="x for x in logics" class="searchSelect"></select>
    <select ng-init="cat2 = cats[0]" ng-model="cat2" ng-options="x for x in cats" class="searchSelect"></select>
    <input type="text" ng-model="queryKey2" class="searchInput"/>
    <button ng-click="submit()" class="searchSubmit">Search</button>
    <toggle-switch
        ng-model="fuzzy"
        knob-label="fuzzy">
    <toggle-switch>
</div>

<div id="searchList">
    <div ng-if="$ctrl.genes.length == 0" class="intro">
        No item found.
    </div>
    <div class="listWrapper">
    <ul>
        <li ng-repeat="gene in $ctrl.genes track by $index">
            <div class="intro">{{gene.name}}</div> 
            <button class="searchFocus" ng-click="focus(gene)">Focus</button> 
            <button class="searchPopulate" ng-if="(gene.children.length>0)&&(isString(gene.children[0]))" ng-click="populate(gene)">Populate</button>
            <json-formatter json=gene open="1" class="json-formatter-dark"></json-formatter>
        </li>
    </ul>
    <div ng-if="$ctrl.genes.length !== 0" class="intro">Only first ten results are displayed.</div>
    </div>
</div>
